In [132]:
import pandas as pd
import nltk
messages = pd.read_csv("data.txt", sep='\t',
                           )
messages.head()

          hindi movies for adults
0             are panda dogs real
1        asuedraw winning numbers
2         sentry replacement keys
3  rebuilding nicad battery packs
4   can you overdose on melatonin

In [136]:
question_pattern = ["do i", "do you", "what", "who", "is it", "why","would you", "how","is there",
                    "are there", "is it so", "is this true" ,"to know", "is that true", "are we", "am i", 
                   "question is", "tell me more", "can i", "can we", "tell me", "can you explain",
                   "question","answer", "questions", "answers", "ask","where"]
helping_verbs = ["is","am","can", "are", "do", "does"]
checkQuestion = []
def isQuestion(question):
    for pattern in question_pattern:
        is_ques  = pattern in question.lower()
        if is_ques:
            checkQuestion.append([question, 'yes'])
            break
    else:
        for pattern_verbs in helping_verbs:
            
            if question.startswith(pattern_verbs):
                checkQuestion.append([question, 'yes'])
                break
        else:
            checkQuestion.append([question, 'no'])

In [137]:
for index, row in messages.iterrows():
    isQuestion(row['hindi movies for adults'])

In [138]:
df = pd.DataFrame(checkQuestion, columns=["hindi movies for adults", "isQuestion"])
print(df)

             hindi movies for adults isQuestion
0                are panda dogs real        yes
1           asuedraw winning numbers         no
2            sentry replacement keys         no
3     rebuilding nicad battery packs         no
4      can you overdose on melatonin        yes
...                              ...        ...
9987       sjogren syndrome pictures         no
9988     how do you renew a passport        yes
9989                    medellin dim         no
9990                concursos funcab         no
9991                 jogo de cidades         no

[9992 rows x 2 columns]

In [139]:
df.isQuestion.value_counts()

no     8771
yes    1221
Name: isQuestion, dtype: int64

In [140]:
df.to_csv('task.csv')

In [141]:
dfTask = pd.read_csv("task.csv")

In [142]:
dfTask

      Unnamed: 0         hindi movies for adults isQuestion
0              0             are panda dogs real        yes
1              1        asuedraw winning numbers         no
2              2         sentry replacement keys         no
3              3  rebuilding nicad battery packs         no
4              4   can you overdose on melatonin        yes
...          ...                             ...        ...
9987        9987       sjogren syndrome pictures         no
9988        9988     how do you renew a passport        yes
9989        9989                    medellin dim         no
9990        9990                concursos funcab         no
9991        9991                 jogo de cidades         no

[9992 rows x 3 columns]